*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    background: #1A202C;
}

/* Start head */
.head {
    width: 100%;
    background-color: #171826;
    height: 100px;
    position: relative;
}
.head .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 100%;
    margin: auto;
    position: relative;
}
.head .header .logo{
    width: 70px;
    height: 70px;
    background-color: #01D676;
    border-radius: 50%;
}
.head .header .nav-bar  {
    height: 100%;
 }
.head .header .nav-bar ul {
   display: flex;
   align-items: center;
   height: 100%;
}
.head .header .nav-bar ul li {
    color: #ffffff;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}
.head .header .nav-bar ul li:nth-child(3) {

    border-right: 1px solid #01D676;
}
.head .header .nav-bar ul li:nth-child(2) {
    border-left: 1px solid #01D676;
    border-right: 1px solid #01D676;
}


.head .header .nav-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 7px 12px;
    font-weight: 700;
    transition: 0.3s;
}
.head .header .nav-bar ul li a:hover {
    background-color: #01D676;
}
.head .header .nav-bar ul li a.active{
    background-color: #01D676;
}
.head .header .login-btn{
    margin-right: 50px;
}
.head .header .login-btn a{
    margin: 10px;
    border-radius: 7px;
    padding: 9px 40px;
    outline: none;
    font-size: 16px;
    border: none;
}
.head .header .login-btn  a {
    text-decoration: none;
    font-weight: 800;
    text-decoration: none;
    font-weight: 800;
    border-radius: 7px;
    padding: 7px 50px ;
    outline: none;
    font-size: 15px;
    color: #000;
    
    
}

.head .header .login-btn a:nth-child(1){
    background-color: #01D676;
    transition: 0.3s;
    cursor: pointer;
}
.head .header .login-btn a:nth-child(2){
    background-color: #ffffff;
    transition: 0.3s;
    padding: 7px 60px;
}
.head .header .login-btn a:nth-child(1):hover{
    background-color: #fff;
}
.head .header .login-btn a:nth-child(2):hover{
    background-color: #01D676;
    cursor: pointer;
}
.head .header .hum {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    cursor: pointer;
}
.head .header .hum.active  span:nth-child(1){
    transform:  rotate(45deg) translateY(9px) translateX(9px);
}
.head .header .hum.active  span:nth-child(2){
    opacity: 0;
}
.head .header .hum.active  span:nth-child(3){
    transform:  rotate(-45deg) translateY(-4px) translateX(4px);
}
.head .header .hum span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
}
.head .hum-menu{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    background: #1C2B48;
    z-index: 9999;
    left: -100%;
    transition: 0.3s;
}
.head .hum-menu ul  {
    display: flex;
    flex-direction: column;
}
.head .hum-menu ul a {
    margin: 10px;
}
.head .hum-menu.active{
    left: 0%;
}
.head .hum-menu ul  a{
    color: #fff;
    text-decoration: none;
    line-height: 70px;
}
.head .hum-menu ul a:nth-child(5){
    background-color: #01D676;
}
.head .hum-menu ul a:nth-child(6) {
    color: #000000;
    background-color: #fff;
}
/* Start body */

.container{
    width: 100%;
}
.container .content {
    width: 900px;
    margin: auto;
}
.container .content h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 70px;
    font-size: 30px;

}
.container .content .feature{
    width: 500px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    
}
.container .content .feature p {
    color: #fff;
    margin-top: 30px;
    margin-bottom: 8px;
    font-weight: 700;
}
.container .content .feature input {
    width: 100%;
    font-size: 18px;
    background-color: #203155;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 10px;
    
}
.container .content .feature input {
    width: 100%;
    padding: 15px;
    background-color: #203155;
    border: none;
    outline: none;
    color: #fff;
    
}
.container .content .feature button {
    background-color: #01D676;
    padding: 10px 30px ;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    margin: auto;
    text-align: center;
    border: none;
    position: absolute;
    left: 50%;
    bottom: -30%;
    transform: translateX(-50%);
   

}
.container .content .feature  button a{
   text-align: center;
   color: #000;
   font-weight: 900;
   font-size: 14px;
   text-decoration: none;
   width: 100%;
}



/* Start Footer  */
.footer{
    width: 100%;
    background-color: #171826;
    height: 320px;
    margin: auto;
    margin-top: 200px;
    gap: 80px;
    padding-top: 20px;

   
    
}
.footer .footer-container{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    height: 100%;
    padding: 5px;
    width: 1300px;
    margin: auto;

}
.footer .section-one{
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer .section-two{
    height: 100%;
    width: 33.33%;
    display: flex;
    gap: 65px;
    flex-direction: column;
    align-items: center;
    position: relative;
    

}
.footer .section-two::before{
    position: absolute;
    content: "";
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 10px;
    background-color: #01D676;
    border-radius: 40px;
    
}
.footer .section-two::after{
    position: absolute;
    content: "";
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    height: 90%;
    width: 10px;
    background-color: #01D676;
    border-radius: 40px;
}
.footer .section-three{
    height: 100%;
    width: 33.33%;
}
.footer .section-one .section-one-content ul{
    background-color: #1C2B48;
    width: 300px;
    margin: auto;
    color: #ffffff;
    text-align: center;
    list-style: none;
    line-height: 40px;
    border-radius: 20px;
    padding: 5px;

}
.footer .section-one .section-one-content ul a{
    color: #ffffff;
    text-decoration: none;
}
.footer .section-one .section-one-content .footer-logo  {
    width: 70px;
    height: 70px;
    background-color: #01D676;
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
    
}

.footer .section-two .section-two-content ul {
    background: #1C2B48;
    list-style: none;
    line-height: 40px;
    padding: 5px;
    width: 300px;
    border-radius: 20px;

}
.footer .section-two .section-two-content ul a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 30px;

}
.footer .section-two .section-two-content ul a.bold{
    font-weight: 600;
}
.footer .section-two  .balls{
    display: flex;
    gap: 30px;
    height: 100px;
    width: 250px;

}
.footer .section-two  .balls{
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 100px;
    width: 250px;
}
.footer .section-two img {
    width: 40px;
    height: 40px;
}
.footer .section-three p {
    padding: 10px;
    color: #fff;
    font-weight: 500;
}



/* media q  */
@media screen and (max-width: 900px) {
    .img-body img:nth-child(2){
        top: 170%;
        left: 0;
    }
    .img-body img:nth-child(4){
        top: 70%;
    }
    .img-body img:nth-child(3){
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* head */
    .head .header  {
        width: 90%;
    }
    .head .header .hum  {
        visibility: visible;
    }
    .head .header .hum-menu{
        visibility: visible;
    }
    .head .header .nav-bar {
        display: none;
    }
    .head .header .login-btn{
        display: none;
    }

    /* body */
    .container {
        width: 100%;
    }
    .container .content {
        width: 80%;
        margin: auto;
    }
    .container .content .feature {
        margin: auto;
        width: 100%;
    }
    .container .content  h1 {
        font-size: 24px;
        margin-bottom: 50px;
    }
    .container .content .feature input {
        width: 100%;
        
    }
    .container .content .feature button {
        position: absolute;
        left: 50%;
        bottom: -30%;
        transform: translateX(-50%);
    }


    
 

    /* footer  */
    .footer{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: 200px;
    }
    .footer .footer-container{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-one{
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-two{
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-three{
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-two::before{
        position: absolute;
        content: "";
        top: -20px;
        left: 0;
        width: 100%;
        height: 5px;
    }
    .footer .footer-container .section-two::after{
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
    }
    
    
}
@media (min-width:900px) and (max-width: 1110px){

       .img-body img:nth-child(2){

        left: 0;
    }
    .img-body img:nth-child(4){
        top: 70%;
    }
    .img-body img:nth-child(3){
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* head */
    .head .header  {
        width: 90%;
        justify-content: space-between;
    }
    .head .header .hum  {
        display: none;
    }
    .head .header .hum-menu{
        display: none;
    }
    .head .header .nav-bar {
        display: block;
        width:300px;
    }
    
    .head .header .nav-bar ul li  {
        padding: 10px;
    }
    .head .header .nav-bar ul li a {
        font-size: 14px;
    }
    .head .header .login-btn{
        display: block;
        width: 200px;
        margin-right: 0;
    }
    .head .header .login-btn {
        width: 300px;
        display: flex;
        justify-content: center;

    }
    .head .header .login-btn  a {
        text-decoration: none;
        font-weight: 800;
        text-decoration: none;
        font-weight: 800;
        border-radius: 7px;
        padding: 5px 30px ;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-align: center;
        
        
    }
    .head .header .login-btn  a:nth-child(2){
        padding: 5px 40px;
    }
    head .header .login-btn  a  span{
        margin: auto;
      
        
    }
    /* body */
    .container {
        width: 100%;
    }
    .container .content {
        width: 80%;
        margin: auto;
    }



    /* footer */
    .footer{
        width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: 200px;
    }
    .footer .footer-container{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-one{
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-two{
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-three{
        width: 100%;
        margin: auto;
    }
    .footer .footer-container .section-two::before{
        position: absolute;
        content: "";
        top: -20px;
        left: 0;
        width: 100%;
        height: 5px;
    }
    .footer .footer-container .section-two::after{
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 5px;
    }




}
@media (min-width:1111px) and (max-width: 1200px){
    .head .header  {
        width: 90%;
        justify-content: space-between;
    }
    .head .header .hum  {
        display: none;
    }
    .head .header .hum-menu{
        display: none;
    }
    .head .header .nav-bar {
        display: block;
        width:600px;
    }
    .head .header .nav-bar ul  {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .head .header .nav-bar ul li  {
        padding: 20px;
    }
    .head .header .nav-bar ul li a {
        font-size: 14px;
    }
    .head .header .login-btn{
        display: block;
        width: 300px;
        margin-right: 0;
        display: flex;
    }
    .head .header .login-btn button{
        width: 150px;
    }
    .head .header .login-btn {
        width: 450px;
        display: flex;
        justify-content: center;

    }
    .head .header .login-btn  a {
        text-decoration: none;
        font-weight: 800;
        text-decoration: none;
        font-weight: 800;
        border-radius: 7px;
        padding: 5px 60px ;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        text-align: center;
        
        
    }
    .head .header .login-btn  a:nth-child(2){
        padding: 5px 60px;
    }
    head .header .login-btn  a  span{
        margin: auto;
      
        
    }
    /* body */

    /* footer */
    .footer {
        width: 100%;
        margin-top: 200px;
    }
    .footer .footer-container{
        width: 90%;
    }



}
@media (min-width:1201px) and (max-width: 1249px){
    .head .header  {
        width: 90%;
        justify-content: space-between;
    }
    .head .header .hum  {
        display: none;
    }
    .head .header .hum-menu{
        display: none;
    }
    .head .header .nav-bar {
        display: block;
        width:600px;
    }
    .head .header .nav-bar ul  {
        display: flex;
        align-items: center;
        height: 100%;
    }
    
    .head .header .nav-bar ul li  {
        padding: 20px;
    }
    .head .header .nav-bar ul li a {
        font-size: 14px;
    }
    .head .header .login-btn{
        display: block;
        width: 300px;
        margin-right: 0;
        display: flex;
    }
    .head .header .login-btn button{
        width: 150px;
    }
    /* body  */
    .container  {
        width: 80%;
    }
    .container .content  p {
        font-size: 19px;
    }
    .container .content .content-text p {
        font-size: 18px;
    }
    .container .content .content-text .img {
        width: 150px;
    }
    /* footer */
    .footer {
        width: 100%;
    }
    .footer .footer-container{
        width: 90%;
    }



}